/* ==UserStyle==
@name           Pixelfed Modern
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("pixelfed.social"), domain("pxl.roflcopter.fr"), domain("metapixl.com"), domain("pixey.org") {
	
	
	/*** ANIMATIONS ***/ 
	@keyframes fadeIn {
		0% { filter: opacity(0) }
		100% { filter: opacity(1) }
	}
	@keyframes fadeUpIn {
		0% { filter: opacity(0); transform: translateY(10px)}
		100% { filter: opacity(1); transform: none; }
	}
	@keyframes scaleIn {
		0% { transform: scale(1.03); }
		100% { transform: scale(1); }
	}
	@keyframes scaleInOutwards {
		0% { transform: scale(.9); filter: opacity(0); }
		100% { transform: scale(1); filter: opacity(1); }
	}
	@keyframes pulse {
		0% { transform: scale(1); }
		100% { transform: scale(1.2); filter: opacity(0); }
	}
	
	.card {
		animation-name: fadeUpIn;
		animation-duration: 1s;
	}
	.square-content {
		animation-name: scaleIn;
		animation-duration: 1s;
		transition: transform .7s;
		&:hover {
			transform: scale(1.02) rotate(.2deg);
		}
	}
	.bgd-2 {
		animation-name: scaleInOutwards;
		animation-duration: 1s;
	}
	
	.info-overlay {
		overflow: hidden;
		.info-overlay-text {
			display: flex !important;
			filter: opacity(0);
			transform: scale(1.1);
			transition: filter .15s, transform .15s;
			pointer-events: none !important;
		}
		&:hover .info-overlay-text {
			transform: scale(1);
			filter: opacity(1);
			transition: filter .5s, transform .5s;
		}
		& > img {
			transition: transform .7s;
			&:hover {
				transform: scale(1.02) rotate(.2deg);
			}
		}
	}
	html {
		scroll-snap-type: y proximity;
		// scroll-snap-type: y mandatory;
	}
	body {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow-x: hidden !important;
		scroll-behavior: smooth;
		max-width: 100rem;
		margin: auto;
	}
	body::after {
		content: "";
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;
		border-left: 1px solid rgba(100,100,100,0.1);
		z-index: 9999;
	}
	
	/*** SIDEBAR / HEADER ***/
	.navbar {
		width: 80px;
		min-width: 80px;
		max-height: 0 !important;
		left: 0;
		height: 0;
		// max-height: 100vh;
		// overflow-y: auto;
		padding: 0 !important;
		// scrollbar-width: thin;
		border-right: 1px solid rgba(100,100,100,0.1);
		justify-content: flex-start;
		align-items: flex-start;
		
		&::before, &::after {
			content: "";
			position: absolute;
			top: 0;
			right: -1px;
			height: 100vh;
			width: 99999px;
			background-color: inherit;
			z-index: 100;
			opacity: .9;
		}
		&::after {
			opacity: 1;
			background: none;
			border: 0;
			backdrop-filter: blur(50px);
			border-right: 1px solid rgba(100,100,100,0.1);
		}
		.container {
			margin: 0;
			min-height: 100vh;
			height: 100vh;
			flex-direction: column;
			overflow-y: auto;
			max-height: 100vh;
			box-sizing: border-box;
			scrollbar-width: thin;
			padding-top: 15px !important;
			z-index: 101;
			.navbar-brand {
				width: 100%;
				box-sizing: border-box;
				margin: 0 !important;
				background: none;
				img {
					margin: auto !important;
					padding: 0 !important;
				}
				span {
					display: none !important;
					position: fixed !important;
					max-width: 100px;
					left: 105px;
					top: 10.5px;
					z-index: -9999;
					filter: opacity(.5);
					background-clip: text;
					-webkit-background-clip: text;
					color: transparent;
					// background-color: white;
					// backdrop-filter: invert(1);
					mix-blend-mode: difference;
					color: black;
				}
			}
			.nav-item {
				width: 100%;
				margin: 0 !important;
				padding: 0 !important;
				.nav-link {
					display: flex;
					justify-content: center;
					padding: 1rem !important;
				}
			}
			.navbar-collapse, .navbar-nav, .ml-auto {
				flex-direction: column;
				width: 100%;
				margin: 0;
				box-sizing: border-box;
				display: contents;
			}
			.navbar-collapse > .navbar-nav:first-child {
				height: 50px;
			}
			.search-bar input {
				background: none !important;
			}
			.search-bar:focus-within {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 9999;
				background-color: rgba(0,0,0,0.1);
				backdrop-filter: blur(2px);
				transition: background-color .5s;
			}
			.form-control {
				border: 0 !important;
				width: 100% !important;
				text-align: center;
				margin: 10px 0;
				transition: none !important;
			}
			.form-control:focus {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				font-size: 2rem;
				padding: 20px;
				box-shadow: 0 0 100px 100px rgba(0,0,0,0.2) !important;
				transition: font-size .2s, background-color .5s, padding .7s, box-shadow .5s !important;
				height: auto !important;
			}
		}
	}
	#navbarDropdown {
		display: none;
	}
	.dropdown {
		// flex-grow: 1 !important;
	}
	.navbar-expand .navbar-nav .dropdown-menu {
		display: flex !important;
		// flex-wrap: wrap;
		flex-direction: column;
		position: relative !important;
		font-size: 0;
		min-width: unset !important;
		width: 100%;
		height: 100%;
		padding: 0;
		border: 0;
		top: unset !important;
		align-items: flex-start;
		background: none !important;
		.dropdown-item {
			display: flex;
			justify-content: center;
			padding: 1rem !important;
			align-self: flex-start;
			align-items: center !important;
		}
		.dropdown-item span {
			font-size: 1.2rem;
			padding: 0 !important;
			color: inherit !important;
		}
		.dropdown-item[href="/i/stories/new"] + .dropdown-divider {
			flex-grow: 1;
		}
	}
	
	
	
	
	/*** LAYOUT ***/
	#content {
		flex: 1 1 0%;
		margin: 0 !important;
		& > .container > .row {
			flex-wrap: nowrap !important;
		}
		.container {
			animation-name: fadeUpIn;
			animation-duration: 1s;
		}
		& > .container, & > div > .container  {
			margin: 0;
			max-width: unset !important;
			padding-left: 30px;
			padding-right: 30px;
			& > div, & > div > div {
				animation-name: fadeUpIn;
				animation-duration: 1s;
			}
			.mt-5.fixed-top {
				margin: auto !important;
				width: max-content !important;
			}
			
			& > .row {
				max-width: 1400px;
				margin: auto;
				
				// &::before {
				// 	content: "";
				// 	position: relative;
				// 	flex: 0 1 150px; 
				// 	margin: auto;
				// }
				
				// STORIES
				.col-md-8 > div:first-child:not(:last-child) {
					.card.card {
						// background: none !important;
						// border: 0 !important;
						// box-shadow: none !important;
						// border-radius: 10px;
						// background: linear-gradient(10deg,#ff00e621, #ff00e600);
						padding-bottom: 8px !important;
						border-bottom: 8px solid #9d00ff !important;
						border-radius: 0 0 8px 8px;
					}
				}
				
				
				
				// Profile Sidebar
				.col-lg-4 {
					position: sticky !important;
					top: 15px;
					width: 350px;
					flex: none;
					margin: 0 !important;
					margin-right: auto !important;
					margin-left: 20px !important;
					max-height: calc(100vh - 50px) !important;
					padding-top: 50px;
					position: static;
					// padding: 100px 0;
					// backdrop-filter: blur(10px);
					// background: white;
					// box-shadow: 0 4px 12px rgba(0,0,0,0.2);
					// border-left: 1px solid rgba(100,100,100,0.1);
					// border-right: 1px solid rgba(100,100,100,0.1);
					// box-shadow: 0 12px 24px rgba(0,0,0,0.1);
					
					.card-footer {
						margin-top: 20px;
						padding-bottom: 0 !important;
					}
					
					.media-body {
						align-items: center;
					}
					
					& > div  {
						display: flex;
						flex-direction: column;
						height: 100%;
						& > .mb-4:nth-child(1) {
							margin-bottom: 0 !important;
						}
						& > .mb-4:nth-child(2) {
							display: contents;
							& > div, & > div > div {
								display: contents;
							}
							.notification-card > div.contents {
								max-height: unset !important;
								height: 100%;
								flex-grow: 1;
								&::before {
									content: "";
									position: sticky;
									top: 0;
									display: block;
									margin-bottom: 25px;
									// box-shadow: 0 0 25px 25px white;
								}
								&::after {
									content: "";
									position: sticky;
									bottom: 0;
									display: block;
									margin-top: 25px;
									// box-shadow: 0 0 25px 25px white;
								}
								& > div {
									border: 0 !important;
								}
							}
						}
						footer > .container {
							padding-bottom: 0 !important;
						}
					}
				}
			}
			
			// LOADING SCREEN
			// & > div > div > img {
			// 	position: relative;
			// 	animation-name: pulse;
			// 	animation-duration: 1s;
			// 	animation-iteration-count: infinite;
			// 	&::before {
			// 		content: "";
			// 		animation-name: pulse;
			// 		animation-duration: 1s;
			// 		animation-iteration-count: infinite;
			// 		position: absolute;
			// 		display: flex;
			// 		top: 0;
			// 		left: 0;
			// 		right: 0;
			// 		bottom: 0;
			// 		background-color: red;
			// 	}
			// }
			
			/*** COLLECTIONS PAGE ***/
			& > .w-100.h-100 {
				// animation-name: scaleIn !important;
				& > div {
					// animation-name: scaleIn !important;
					// scroll-snap-align: start;
					& > .mb-3 {
						position: sticky;
						top: 0;
						z-index: 0;
					}
					& > .mb-3 picture {
						position: relative;
						margin: -50px;
						margin-top: -40px;
						margin-top: -40px;
						margin-bottom: -40vh;
						transition: margin 2s, font-size 1s, height 1.5s, filter 1s, transform 2s;
						font-size: .8rem;
						// filter: blur(10px) brightness(.5);
						// transform: scale(1.1);
						img {
							height: calc(100vh + 80px) !important;
							transition: height 1.5s, filter 1s, transform 2s;
							// transform: scale(1.1);
							filter: blur(10px) brightness(.5);
						}
						.display-4 {
							font-size: 4em;
						}
						&:hover {
							margin-bottom: -15vh;
							font-size: 1rem;
							filter: none;
							img {
								height: 80vh !important;
								transform: none;
								filter: none;
							}
						}
					}
					& > .col-12:last-of-type {
						max-width: 70vw !important;
						margin: auto !important;
					}
				}
			}
			
		}
		
		/*** PROFILE PAGE ***/
		& > .w-100.h-100 > div > .container {
			max-width: unset !important;
			display: grid;
			grid-template-columns: 300px 1fr;
			grid-template-rows: 60px auto;
			& > .border-bottom:first-child {
				grid-row: 1 / span 2;
				padding: 0 !important;
				& > .container {
					position: sticky;
					top: 0;
					padding: 3rem 20px !important;
					max-height: 100vh;
					overflow-y: auto;
					& > .row {
						flex-direction: column;
						max-width: 100%;
						& > * {
							flex: none;
							max-width: 100%;
							// padding: 0;
							box-sizing: border-box;
							.profile-details {
								max-width: 100%;
								.username-bar {
									flex-wrap: wrap;
									span.h3 {
										width: 100%;
										margin-bottom: 1rem !important;
									}
									span {
										padding: 0 !important;
										margin-right: 1rem;
									}
								}
							}
						}
					}
				}
			}
			& > .container {
				max-width: unset;
				padding: 0 30px !important;
			}
		}
		
		/*** CARDS ***/
		.row > .col-md-8:not(.px-0.mx-0):not(.align-items-center):not(.offset-md-2) {
			max-width: unset;
			min-width: unset;
			flex: 1 0 450px;
			padding: 40px 20px !important;
			margin-left: auto;
			.card {
				// box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05) !important;
				transition: transform .2s, box-shadow .3s;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				border: 1px solid rgba(100,100,100, .2) !important;
				// border: 0 !important;
				margin-bottom: 10px;
				background: none;
				// border-radius: 8px !important;
				overflow: hidden;
				text-align: right;
				.card-header {
					// border-radius: 12px 12px 0 0;
					position: absolute;
					// margin-right: 70%;
					top: 0;
					left: 0;
					z-index: 3;
					width: 30%;
					overflow: hidden;
					padding-left: 0 !important;
					height: 58px;
					padding-left: 1rem;
					background: none !important;
					div:first-child {
						order: 2;
					}
					div:last-child {
						order: -1;
						flex-grow: 0 !important;
					}
					.pl-2 {
						line-height: 18px;
						// max-width: calc(100% - 32px - 40px) !important;
						overflow: hidden;
						text-overflow: ellipsis;
						padding-left: 0 !important;
						padding-right: 10px;
						flex-grow: 1;
						& > * {
							white-space: nowrap;
							justify-content: flex-end;
							a {
								text-overflow: ellipsis;
								overflow: hidden;
								text-align: right;
							}
						}
					}
				}
				.card-body.cursor-pointer {
					width: 100%;
					order: 6;
				}
				.card-body {
					position: relative;
					padding-top: 70px;
					z-index: 2;
					width: 30%;
					background: inherit;
					// border-radius: 12px 0 0 12px !important;
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					// margin-right: 70%;
					& > * {
						max-width: 100%;
					}
					.reactions h3 {
						padding-right: 0 !important;
						padding-left: 14px;
					}
					.caption {
						max-height: calc(80vh - 165px);
						overflow-y: auto;
						a {
							text-align: right !important;
						}
					}
					.timestamp {
						flex-grow: 1;
						align-self: flex-end;
						display: flex;
						align-items: flex-end;
					}
				}
				.content-label {
					z-index: 3;
					background-color: rgba(0, 0, 0, 0.4);
					border-radius: 12px;
					padding-left: 30%;
				}
				.postPresenterContainer, .card-body.p-0 {
					width: 70%;
					// margin-left: 30%;
					// flex-shrink: 1;
					display: flex;
					order: 5;
					float: right;
					align-content: center;	
					overflow: hidden;
					img {
						max-height: 60vh;
						height: 100%;
						background: none !important;
						object-fit: contain;
						overflow: hidden;
					}
				}
				.VueCarousel-wrapper {
					// border-radius: 10px !important;
					// overflow: hidden !important;
				}
				// .VueCarousel-wrapper {
				// 	overflow: visible !important;
				// 	background: none !important;
				// 	transform: scale(1.05);
				// 	.VueCarousel-slide {
				// 		background: none !important;
				// 		border-radius: 12px !important;
				// 		overflow: hidden !important;
				// 		// margin: -50px 0;
				// 		&:active {
				// 			cursor: grabbing;
				// 		}
				// 		img, .card-img-top {
				// 			// margin: 50px !important;
				// 			background: rgba(0,0,0,0.2) !important;
				// 			transform: scale(.95);
				// 		}
				// 	}
				// }
				&:hover, &:focus, &:focus-within {
					// transform: translatey(-1px);
					box-shadow: 0 0px 20px 0 rgba(0,0,0,0.07) !important;
				}
				&:active {
					// transform: translatey(1px);
				}
			}

		}
		
		& > .mt-md-4 {
			margin: 0 !important;
		}
		
		/*** POST DETAILS PAGE ***/
		.postComponent {
			& > .container {
				max-width: unset !important;
				animation-name: scaleIn !important;
				.card {
					animation-name: fadeIn !important;
					border: 0 !important;
					box-shadow: 0 20px 40px 0px rgba(0,0,0,0.1) !important;
				}
				
				.card .postPresenterContainer {
					max-height: 100vh;
					height: 100vh;
					min-height: 430px !important;
					div {
						max-height: 100%;
						// height: 100%;
					}
					.VueCarousel-slide {
						margin: auto;
					}
					img, video {
						max-height: 100vh !important;
						min-height: 430px !important;
						object-fit: contain;
					}
				}
			}
		}
	}
	

	body > footer {
		margin-left: auto;
		max-width: calc(100% - 80px);
		justify-content: center;
		display: flex;
		flex: 1 1 100%;
		height: min-content;
		z-index: 2;
		background: inherit;
	}
	
	.modal-backdrop {
		backdrop-filter: blur(8px);
		opacity: 1 !important;
		background-color: rgba(0,0,0,0.8);
		animation-name: fadeIn;
		animation-duration: .5s;
	}
	
	
}