/* ==UserStyle==
@name           Spotify Blur
@version        1.0.0
@description    Spotify Theme
@updateURL      https://codeberg.org/Freeplay/UserStyles/raw/branch/main/spotify/blur.user.css
@preprocessor   stylus

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://freeplay.codeberg.page/)
@homepageURL    https://codeberg.org/Freeplay/UserStyles
@supportURL     https://codeberg.org/Freeplay/UserStyles/issues
==/UserStyle== */


@-moz-document domain("open.spotify.com") {
    /* Insert code here... */
	black-gradient-down = linear-gradient(
		to bottom,
		hsl(0, 0%, 0%) 0%,
		hsla(0, 0%, 0%, 0.987) 8.1%,
		hsla(0, 0%, 0%, 0.951) 15.5%,
		hsla(0, 0%, 0%, 0.896) 22.5%,
		hsla(0, 0%, 0%, 0.825) 29%,
		hsla(0, 0%, 0%, 0.741) 35.3%,
		hsla(0, 0%, 0%, 0.648) 41.2%,
		hsla(0, 0%, 0%, 0.55) 47.1%,
		hsla(0, 0%, 0%, 0.45) 52.9%,
		hsla(0, 0%, 0%, 0.352) 58.8%,
		hsla(0, 0%, 0%, 0.259) 64.7%,
		hsla(0, 0%, 0%, 0.175) 71%,
		hsla(0, 0%, 0%, 0.104) 77.5%,
		hsla(0, 0%, 0%, 0.049) 84.5%,
		hsla(0, 0%, 0%, 0.013) 91.9%,
		hsla(0, 0%, 0%, 0) 100%
	)
	black-gradient-up = linear-gradient(
		to bottom,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.013) 8.1%,
		hsla(0, 0%, 0%, 0.049) 15.5%,
		hsla(0, 0%, 0%, 0.104) 22.5%,
		hsla(0, 0%, 0%, 0.175) 29%,
		hsla(0, 0%, 0%, 0.259) 35.3%,
		hsla(0, 0%, 0%, 0.352) 41.2%,
		hsla(0, 0%, 0%, 0.45) 47.1%,
		hsla(0, 0%, 0%, 0.55) 52.9%,
		hsla(0, 0%, 0%, 0.648) 58.8%,
		hsla(0, 0%, 0%, 0.741) 64.7%,
		hsla(0, 0%, 0%, 0.825) 71%,
		hsla(0, 0%, 0%, 0.896) 77.5%,
		hsla(0, 0%, 0%, 0.951) 84.5%,
		hsla(0, 0%, 0%, 0.987) 91.9%,
		hsl(0, 0%, 0%) 100%
	)
	
	body {
		min-width unset !important
		min-height unset !important
		// overflow hidden
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		@media (prefers-color-scheme: light) {
			filter invert(1)
			img, [style*="background-image"] {
				filter invert(1) !important
			}
		}
	}
	
	// GLOBAL
	
	.os-scrollbar-handle {
		border-radius 100px
	}
	
	section > * {
		animation slideUp 1s backwards cubic-bezier(0,1,0,1)
	}
	
	.encore-dark-theme, .encore-dark-theme .encore-base-set {
		// --background-base #02181f !important
		// --background-base #222
		// --background-base #08044d !important
		background-color var(--background-base) !imprtant
		--background-press white !important
	}
	
	[data-testid="play-button"] {
		box-shadow 0 4px 24px -8px #1ed760
	}
	
	
	// NEW TOP BAR
	.Root__fixed-top-bar {
		display flex
		z-index 4
		background none
		padding-right 10px
		padding-top 5px
		gap 20px
		// padding-left 10px
		// position relative
		input, button, a {
			// background none !important
		}
		a.logo {
			// margin-right 5px
			&::before, &::after {
				content ""
				position absolute
				inset 0
				background var(--essential-bright-accent)
				border-radius 100px
				pointer-events none
			}
			&::after {
				filter blur(70px)
				inset -50px
				opacity .5
			}
		}
		.spotify-logo {
			// background-color var(--essential-bright-accent)
			// margin -4px
			border-radius 100px
			transform scale(1.1)
			
			path {
				fill black !important
				transform scale(1.2)
				transform-origin center
			}
			
		}
		/[style="--nav-bar-width: 120px;"] & {
			flex-direction column
			width 50px
			align-items center
			padding-top 20px
			margin-left 5px
			gap 8px
			input:not(:focus-within), a:not(.logo) {
				// background none !important
				height 50px
			}
			a.logo {
				margin-bottom 14px
			}
			> div:nth-child(2) {
				flex-direction column
				align-self flex-start
				align-items flex-start
				margin-left -9px
				gap 12px
				> div {
					flex unset
				}
				> a + div {
					transition transform .25s cubic-bezier(0,0,0,1.2)
					&:focus-within {
						transform translateY(-120px)
					}
				}
			}
			> div:last-child {
				// width 32px
				position absolute
				right 20px
				top 10px
			}
		}
		> div {
			width auto
			[role="search"] {
				// width 60px !important
				& + div {
					// width 50px !important
					// opacity 0
					// min-width 440px !important
					svg:first-child {
						pointer-events none
					}
				}
				input {
					transition width .2s
				}
				input[value=""]:not(:focus) {
					width 50px
					padding-inline 0
					&::placeholder {
						opacity 0
					}
					// z-index 2
					&:hover {
						width 80px
					}
				}
			}
			&:last-child {
				margin-left auto
			}
		}
	}
	
	// CONTENT
	.Root__top-container {
		// overflow hidden
		gap 8px 0 !important
	}
	.Root__top-bar {
		margin-top -64px !important
		z-index 5
		background none !important
		width auto !important
		margin-left auto
		margin-right 70px
		// max-width 400px
		max-width calc(100vw - 650px)
		justify-content flex-end
		header {
			// padding-right 200px
			width max-content
			padding 0px 24px
			height 44px
			margin-block 12px
			max-width 100%
			box-sizing border-box
			> div:first-child {
				background none
				border-radius 100px !important
			}
			[data-testid="play-button"] {
				margin-left -30px
			}
			span[class*="Type__TypeElement"] {
				line-height 100%
				margin-top .25em
			}
		}
	}
	.Root__main-view {
		// margin-top -48px
		overflow visible !important
		border-radius 24px !important
		margin-bottom 35px
		margin-right 5px
		width unset
		// margin-bottom -40px
		// border 4px solid #212121
		// box-shadow 0 -100px 200px -100px rgba(0,200,0,1)
		.os-host-overflow, .os-padding {
			overflow visible !important
			
		}
		.os-content-glue {
			// height 70px !important
		}
		[data-testid="action-bar-row"] {
			margin 0 !important
		}
		
		.os-viewport {
			margin-top -64px !important
			padding-top 64px !important
			margin-bottom -50px !important
			margin-bottom -125px !important
			padding-bottom 200px !important
			.main-view-container__scroll-node-child {
				margin-bottom 125px
				// min-height max-content
			}
		}
		main {
			> [style] {
				margin-top 0
				border-radius 24px 24px 0 0
				margin-bottom -332px
			}
			// --background-base transparent
			[style="top: 64px;"] {
				top 0 !important
				border-radius 24px 24px 0 0
			}
			> .contentSpacing {
				> div:first-child:not([data-testid="grid-container"]) {
					margin-top 40px !important
				}
			}
			[data-testid="grid-search-results"] {
				margin-top 40px
			}
		}
		
		// Top Blur
		&::before, &::after,
 		.main-view-container::before, .main-view-container::after {
			content ""
			position absolute
			inset -64px
			right 0
			// left -400px
			bottom unset
			// top -64px
			height 120px
			backdrop-filter blur(40px)
			// background-color rgba(0,0,0,0.9)
			z-index 2
			mask linear-gradient(black 10%, transparent)
			// mask black-gradient-down
			pointer-events none
		}
		&::after,
 		.main-view-container::after {
			backdrop-filter brightness(.2)
			// background-color black
			// opacity .8
			mask linear-gradient(black 20%, transparent)
			// mask black-gradient-down
			height 64px
			// z-index 10
		}
		// Bottom Blur
		.main-view-container {
			&::before, &::after {
				bottom -125px
				top unset
				height 200px
				mask linear-gradient(transparent, rgba(0,0,0,0.5) 30%, black 70%)
			}
			&::after {
				// height 300px
				backdrop-filter brightness(0)
				// mask linear-gradient(transparent, black 95%)
				mask black-gradient-up
				// mask linear-gradient(transparent, black, black)
				height 120px
				opacity .8
				bottom -80px
				// box-shadow 0 10px 150px 0 black !important
			}
			
			/.Root__now-playing-bar {
				overflow visible !important
				// display none
				&::before {
					content ""
					position absolute
					inset 0
					top 37px
					bottom -10px
					background-color black
					opacity .8
				}
			}
		}
		
	}
	
	// Lyrics Page
	[style*="--lyrics-color-active"] {
		height unset !important
		padding-top 0 !important
		padding-bottom 120px !important
		// &::before {
		// 	content ""
		// 	position absolute
		// 	// inset 0
		// 	width 100%
		// }
		animation fadeIn .4s backwards
		> div:first-child {
			// background none
			border-radius 24px
			position sticky
			top 0
			height calc(100vh - 185px)
			z-index -1
			// margin-bottom -900px
			// position fixed
			// inset 0
			animation scaleFrom .7s backwards cubic-bezier(0,0,0,1.8)
			
		}
		> div:last-child {
			max-width 80%
		}
	}
	
	// GRIDS
	[data-testid="grid-container"], [data-testid="scroll-wrapper"],
 	[style*="--column-gap:"]{
		gap 10px
		border-radius 32px
		overflow hidden
		
		* {
			// --card-container-border-radius 12px
			--card-image-border-radius 30px
		}
		img {
			// border-radius var(--card-image-border-radius) var(--card-image-border-radius) var(--card-image-border-radius) 6px
		}
		> div {
			// background none !important
		}
		
		> a {
			position relative
			border-radius 24px
			margin 12px
			width unset
			> div {
				> span {
					padding 1em
					// font-size 1.7em
					text-shadow 0 0 12px #0000007a, 2px 2px 0 #000000bf
				}
			}
		}
		
	}
	
	// TRACKS
	
	[role="row"] {
		[data-testid="internal-track-link"], .ellipsis-one-line {
			// line-height 1.2 !important
		}
	}
	
	// PROFILE PAGE
	[data-testid="artist-page"] {
		/[data-testid="background-image"] {
			border-radius 32px
			top -64px
			height unset !important
			transition bottom 1s !important
			bottom calc(100vh - 560px)
			mask linear-gradient(to right, transparent, black 20%, black 80%, transparent)
			filter blur( calc( 50px * var(--scroll) ) ) !important
			// transform translateX( var(--scroll) ) !important
			// filter opacity(var(--scroll)) !important
			// transition filter 1s !important
			& + div {
				border-radius 32px 32px 0 0 !important
			}
		}
		> div > .contentSpacing:first-child {
			// padding 32px
			padding-bottom 60px
			padding-inline 48px
		}
		> div > div:nth-child(2) {
			border-radius 24px
			margin-top -24px
			> div {
				background none !important
				
			}
		}
	}
	.contentSpacing {
		// background var(--background-base)
		> [style*="background-color"] {
			top 64px
			border-radius 24px
		}
	}
	// PLAYLIST PAGE
	[data-testid="playlist-page"] {
		// padding-top 70px
		// --background-base transparent
		> :last-child {
			background none !important
			// z-index 2
			&::before {
				content ""
				position sticky
				display block
				height calc(100vh - 190px)
				margin-bottom calc(0px - 100vh + 190px)
				// margin-bottom calc(0px - 100vh - 205px)
				top 0
				background-color var(--background-base)
				border-radius 24px
				z-index -1
			}
		}
		> .contentSpacing {
			// background var(--background-base) !important
			> [style*="background-color"]:first-child {
				top 64px
				border-radius 24px
				// position sticky
				// position fixed
				// z-index -1
			}
		}
		// > .contentSpacing:first-child {
		// 	// display none 
		// 	min-height unset !important
		// 	// height unset !important
		// 	// min-height max-content !important
		// 	height 250px !important
		// 	// margin-top 64px
		// 	z-index 2
		// 	// padding-top 40px
		// 	> div:nth-child(4) {
		// 		min-width unset !important
		// 		max-width 100px !important
		// 		height 100px !important
		// 	}
		// 	h1 {
		// 		font-size 2em !important
		// 		line-height 1 !important
		// 		font-weight 400
		// 		margin-top .4em
		// 		margin 0
		// 	}
		// 	h2 {
		// 		margin 0
		// 	}
		// 	[data-testid="creator-link"] {
		// 		display none
		// 	}
		// }
		[data-testid="action-bar-row"] {
			// display none
			// padding-top 100px !important
			// padding-bottom 50px
		}
		
	}
	.under-main-view {
		// display none
		
		[style*="--scroll"] > [style*="--bgColor"]::after {
			// display none
			// background none
			// height calc(40vh - var(--scroll)) !important
			// transform scaleY(calc(1 - (var(--scroll) * 2.5) ))
			// transform-origin top
			// min-height unset
			// backdrop-filter blur(50px)
			// background-color var(--background-base) !important
		}
	}
	[style*="background-color: rgb("] {
		animation fadeIn 1s backwards
	}
	
	// SIDEBAR
	
	.Root__nav-bar {
		// background-color var(--background-base)
		background none !important
		padding-left 0 !important
		margin-left -12px !important
		// border-top-right-radius 100px !important
		margin-top -10px
		padding-right 10px
		z-index 5
		// margin-right 0 !important
		
		
		.LayoutResizer__resize-bar {
			margin-block 40px
			height calc(100% - 110px)
		}
		hr {
			background none
		}
		hr + div {
			background black-gradient-down !important
		}
		/[style*="--nav-bar-width: 120px;"] & {
			width 80px
			padding-left 5px !important
			// padding-top 145px
			// box-sizing border-box
			transition width .3s cubic-bezier(0,0,0,1.2)
			margin-top 150px 
			> div:first-child {
 				padding-top 0
			}
			[data-testid="rootlist-container"] > div {
				> :nth-child(n + 3) {
					display none
				}
			}

			// a.standalone-ellipsis-one-line {
			// 	--left-sidebar-item-height 40px !important
			// 	> span {
			// 		&::first-letter {
			// 			// font-size 0
			// 			// padding .4em
			// 			// margin-right 1em
			// 			// background-color white
			// 			font-weight 700
			// 		}
			// 	}
			// }

		}
		
		// padding-top 10px
		// border-right 1px solid var(--background-highlight)
		.link-subtle, [type="button"] {
			height 50px
			svg {
				border-radius 100px
			}
			
		}
		.link-subtle, [type="button"], a:not([data-testid="context-link"]) {
			> div:first-child {
				border-radius 30% !important
				overflow hidden !important
			}
		}
		
		// Album Cover
		> div > div:last-child {
			overflow visible
			margin-bottom -10px
			padding-bottom 10px
			// border-radius 24px !important
			// box-shadow 0 12px 8px
			/[style="--nav-bar-width: 120px;"] & {
				overflow visible
			}
		}
		a[referrer="now_playing_bar"] {
			margin 12px
			margin-left 22px
			margin-bottom 0
			// margin-right -22px
			display block
			// max-width 50px !important
			transition margin .2s cubic-bezier(.5,0.5,0.5,1.1), transform 1.2s cubic-bezier(0,1,0,1)
			.cover-art {
				// margin 12px
				border-radius 24px !important
				overflow hidden
				box-shadow 0 12px 24px rgba(0,0,0,0.2)
			}
			/[style="--nav-bar-width: 120px;"] & {
				margin-right -85px
				margin-bottom -60px
				transform rotate(-4deg)
			}
		}
		
	}
	
	// BOTTOM BAR
	[data-testid="now-playing-widget"] {
		// transform none !important
		// > [aria-hidden="true"] {
		// /html:not([style="--nav-bar-width: 120px;"]) & {
			> [data-testid="CoverSlotCollapsed__container"][aria-hidden="true"] {
				filter blur(10px)
				// width 100px
				height 30px
				// height 20px
				transform scale(5) translateX(20px) !important
				opacity .3
				overflow visible
				transition 1s cubic-bezier(0, 1, 0, 1.1)
				img {
					height 200px
					height 40px
					object-fit unset
					width 120px
					border-top-right-radius 100%
				}
				// z-index -1
			}
		// }
		/[style="--nav-bar-width: 120px;"] & {
			transform unset
			> [data-testid="CoverSlotCollapsed__container"][aria-hidden="true"] {
				transform scale(5) translateX(-40px) !important
				padding-left 80px
				transition .4s cubic-bezier(0, 1, 0, 1.1)
			}
		}
	}
	.Root__now-playing-bar {
		position: relative;
		// margin-top 10px
		// padding-top 10px
		box-sizing border-box !important
		// margin-top -100px
		// padding-top 100px
		// overflow hidden !important
		margin-bottom 2px
		footer {
			overflow hidden
			margin-top -100px
			padding-top 100px
			margin-bottom -10px
			padding-bottom 10px
			margin-inline -8px
			padding-inline 8px
			pointer-events none
			> div {
				padding-bottom 10px
				box-sizing border-box
				pointer-events all
				[data-testid="CoverSlotCollapsed__container"] {
					transform translateY(0px) !important
					margin-top 12px
					// margin-left 10px
					& ~ * {
						margin-top 5px !important
					}
					& + div {
						> div:last-child {
							// line-height 2
							margin-top .1em
						}
					}
				}
			}
		}
	}
	.player-controls {
		// padding-bottom 5px
	}
	.playback-bar {
		position: absolute;
		width: 340px;
		> div:not([data-testid="playback-progressbar"]) {
			font-size 1em
		}
	}
	[data-testid="playback-progressbar"] {
		position: absolute;
		top: 40px;
		// left 20px
		left: calc(-50vw + 180px);
		left: calc(-50vw + 255px);
		width: calc(100vw - 108px);
		[data-testid="progress-bar-background"] {
			&, & * {
				transition height .2s
			}
		}
		&:not(:hover) [data-testid="progress-bar-background"] {
			// height 0
			background none
			> div {
				background linear-gradient(to right, #323232, black 10%)
				border-radius 100px
			}
			> div > div {
				// border-radius 0 !important
				height 2px
				background linear-gradient(to right, #000, #1db954)
				transform unset !important
				width var(--progress-bar-transform)
				&:not(:hover) {
					transition width 1s linear
				}
				
			}
		}
	}
	[data-testid="CoverSlotCollapsed__container"] {
		border-radius 12px
		overflow hidden
	}
	.player-controls__buttons {
		// margin-bottom: 5px;
		z-index: 2;
		align-items center
		
		[data-testid="control-button-playpause"] {
			--button-size 45px !important
			filter invert(.78)
			transform translateY(-2px)
		}
		
	}
	
	
	
	@media (max-width 750px) {
		.Root__now-playing-bar {
			z-index 6
			> footer {
				min-width unset !important
				// padding-inline 0
				> div {
					// flex-direction column
					flex-wrap wrap-reverse
					justify-content center
					height auto !important
					padding 0
					gap 20px
					[data-testid="playback-progressbar"] {
						// top -110px
					}
					> div:first-child {
						flex-grow 1
						width auto !important
						padding 10px
						// padding-top 0
						// background black
						// margin-inline -15px
						// margin-bottom -17px
						// padding-right 15px
						// padding 15px
						width 100% !important
						[data-testid="add-button"] {
							margin-left auto
						}
						[data-testid="now-playing-widget"] {
							background-color rgba(120,120,120,.4)
							background var(--background-base)
							border-radius 12px
							padding-right 10px
							transform none !important
							height 56px
							> * {
								margin-block 0
							}
							[data-testid="CoverSlotCollapsed__container"] {
								// margin-left -50px !important
							}
						}
					}
					> div:nth-child(2) {
						order 2
						width 100%
						max-width unset
					}
					> div:last-child {
						position absolute
						left 0
						bottom calc(100% - 50px)
						flex-direction column-reverse
						align-items center
						width 58px
						min-width unset
						background var(--background-base)
						padding 15px
						border-radius 100px
						box-shadow 0 -100px 50px 0px black
						gap 10px
						> div {
							display contents
						}
						[data-testid="volume-bar"] {
							flex-direction column-reverse
							width 125px
							// height 250px !important
							margin 0 !important
							gap 10px
							// align-items center
							> div:last-child {
								transform rotate(-90deg) translateX(50%)
								// transform-origin right
								height 10px
								[data-testid="progress-bar"],
 								[data-testid="progress-bar"] div {
									height 100% !important
									border-radius 100px
									// opacity .9
								}
							}
						}
					}
				}
			}
		}
	}
	
	// POPUPS
	[id*=tippy-] {
		transition transform .4s cubic-bezier(.5,0,0,1.2)
	}
	#context-menu ul {
		animation scaleFrom .4s backwards cubic-bezier(0,0,0,1)
		transform-origin top left
		for row in 1..10 {
			> li:nth-child({row}) {
				animation scaleFrom .3s .02s * row backwards cubic-bezier(0,1,0,1.5)
				transform-origin top left
			}
		}
		
	}
	
	// ANIMATIONS
	@keyframes scaleFrom {
		from {
			transform scale(.95)
			filter opacity(0)
		}
	}
	@keyframes slideUp {
		from {
			transform translateY(10px)
			opacity 0
		}
	}
	@keyframes fadeIn {
		from {
			opacity 0
		}
	}
}